<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/style.css">
        <title>tsubuyaki</title>
    </head>
    <body>
        <div class="container">
        <img src="./assets/TOP1.jpeg" class="image_area">
        <article class="content">
            <h2>つぶやきアプリとは</h2>
            <p>ほんの140文字で、あなた自身を表現してみませんか？</p>
        </article>
        <div>
    </body>
</html>